{% extends 'base.html' %}

{% block content %}
{% load static %}

<br>
<h1>What is thera-tinder?</h1>
<br>

<p>Brief therapy differs from other schools of therapy in that it emphasizes (1) a focus on a specific problem and (2) direct intervention. In brief therapy, the therapist takes responsibility for working more pro-actively with the client in order to treat clinical and subjective conditions faster. It also emphasizes precise observation, utilization of natural resources, and a temporary suspension of disbelief to consider new perspectives and multiple viewpoints.

Rather than the formal analysis of historical causes of distress, the primary approach of brief therapy is to help the client to view the present from a wider context and to utilize more functional understandings (not necessarily at a conscious level). By becoming aware of these new understandings, successful clients will de facto undergo spontaneous and generative change.

Brief therapy is often highly strategic, exploratory, and solution-based rather than problem-oriented. It is less concerned with how a problem arose than with the current factors sustaining it and preventing change. Brief therapists do not adhere to one "correct" approach, but rather accept that there being many paths, any of which may or may not in combination turn out to be ultimately beneficial.</p>


<a href="{% url 'front' %}" class="btn btn-primary">back</a>

{% endblock %}